include mixins
extends layout
block content   

            include navbar

           
            div
                form.form-horizontal(method='post')
                    fieldset
                        legend Modify user
                        .form-group
                            label.col-lg-2.control-label(for='ClientUsername') Client Username
                            .col-lg-10
                                input#inputUser.form-control(type='text', name='ClientUsername', value=results[0].ClientUsername, required='')
                        .form-group
                            label.col-lg-2.control-label(for='CompanyName') Company Name
                            .col-lg-10
                                input#inputCompany.form-control(type='text', placeholder='', name='CompanyName', required='')
                        .form-group                                
                            label.col-lg-2.control-label(for='ClientID') Client ID
                            .col-lg-10
                                input#inputID.form-control(type='text', placeholder='', name='ClientID', value=results[0].ClientID)
                        .form-group
                            label.col-lg-2.control-label(for='ContactLastName') Contact Last Name
                            .col-lg-10
                                input#inputLast.form-control(type='text', name='ContactLastName', required='', value=results[0].ContactLastName)
                            label.col-lg-2.control-label(for='ContactFirstName') Contact First Name
                            .col-lg-10
                                input#inputFirst.form-control(type='text', placeholder='', name='ContactFirstName', value=results[0].ContactFirstName)
                            label.col-lg-2.control-label(for='ContactEmail') Contact Email                            
                            .col-lg-10
                                input#inputEmail.form-control(type='text', placeholder='', name='ContactEmail', value=results[0].ContactEmail)
                        .form-group
                          label.col-lg-2.control-label(for='select') Privilege
                          .col-lg-10
                            select#selecttime.form-control(name='PrivLevel')
                              option(selected=results[0].PrivLevel == '1') User
                              option(selected=results[0].PrivLevel == '2') Administrator  
                        .form-group
                          label.col-lg-2.control-label(for='select') Status
                          .col-lg-10
                            select.form-control(name='Status')
                              option(selected=results[0].Status == '1') Active
                              option(selected=results[0].Status == '2') Suspended
                              option(selected=results[0].Status == '3') Inactive
                        .form-group
                          .col-lg-10.col-lg-offset-2                         
                            button.btn.btn-primary.btn-lg(type='submit') Submit
                       
                        link(rel='stylesheet', href='/javascripts/jquery-ui.css')         
                        link(rel='stylesheet', href='/javascripts/jquery.timepicker.css')
                        
                        